<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyun.user.modules.mapper.SysPermissionMapper">
    <select id="getPermissionsByUserId" resultType="java.lang.String">
        SELECT DISTINCT sp.permission_code
        FROM sys_role sr
                     LEFT JOIN sys_user_role sur ON sr.id = sur.role_id
                     LEFT JOIN sys_role_permission srp ON srp.role_id = sur.role_id
                     LEFT JOIN sys_permission sp ON sp.id = srp.permission_id
        WHERE sur.user_id = #{userId}
          AND sr.del_flag = #{delFlag}
          AND sur.del_flag = #{delFlag}
          AND srp.del_flag = #{delFlag}
          AND sp.del_flag = #{delFlag}
    </select>
</mapper>
