<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyun.user.mapper.SysRolePermissionMapper">
    <select id="queryAllRolePermission" resultType="com.liuyun.model.user.dto.AllRolePermissionDTO">
        SELECT sp.permission_uri AS permissionUri,
               sr.role_code      AS roleCode
        FROM sys_role_permission srp
                     LEFT JOIN sys_role sr ON srp.role_id = sr.id
                     LEFT JOIN sys_permission sp ON srp.permission_id = sp.id
        WHERE srp.del_flag = #{delFlag}
          AND sr.del_flag = #{delFlag}
          AND sp.del_flag = #{delFlag}
          AND sr.role_code IS NOT NULL
          AND sp.permission_uri IS NOT NULL
          AND sp.permission_type = #{permissionType}
    </select>
</mapper>
